@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f7f6f2;
}
.container{
    max-width: 1050px;
    width: 100%;
    background: #fff;
    border-radius: 12px;
    margin: 0 20px;
    box-shadow: 0 2px 12px rgba(78, 134, 24, 0.06);
}
.container .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 20px;
}
.content .image-box{
    max-width: 55%;
}
.content .image-box img{
    width: 100%;
}
.content .topic{
    font-size: 22px;
    font-weight: 500;
    color: #2d4a13;
}
.content form{
    width: 40%;
    margin-right: 30px;
}