*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: whitesmoke;
}
.wrapper{
    position: relative;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    box-shadow: -10px -10px 15px rgba(255, 255, 255, 1 ),
    10px 10px 10px rgba(0, 0, 0, 0.1 ); /*creating a shadowed figure*/

}