@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #0307f1;
}
footer .content{
    max-width: 1350px;
    background-color: red;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .content .box{
    width: 33%;
}