@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.loader{
    height: 200px;
    width: 200px;
    border: 12px solid lightgrey;
    border-radius: 50%;
    border-right-color: lightseagreen;
    animation: spin 1s ease infinite;
}
