@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: cornflowerblue;
}
.wrapper{
    padding: 30px;
    border-radius: 12px;
    background: white;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.wrapper header{
    font-size: 18px;
    font-weight: 400;
    color: #333;
}
.wrapper p{
    color: #333;
}