@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html,body{
    display: grid;
    height: 100vh;
    place-items: center;
    background:  #46473E;
}
.main_div{
    position: relative;
    height: 65px;
    width: 250px;
    background: white;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: opx 5px 3px 0px rgba(0, 0, 0, 0.35);
}