
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background: whitesmoke;
}
.container {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.media-icons {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 6px;
    border-radius: 6px;
}
.media-icons a{
    text-decoration: none;
    position: relative;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    margin: 6px;
}
.media-icons a i {
    color: #fff;
}
.media-icons a .tooltip {
    position: absolute;
    left: 55px;
    font-size: 14px;
    font-weight: 400;
    pointer-events: none;
    background-color: white;
    padding: 4px 8px;
    border-radius: 4px;
}
a .tooltip::before {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    top: 50%;
    left: -5px;
    transform: translateY(-50%) rotate(45deg);
    background-color: white;
}