@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.alert-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 450px;
    width: 100%;
    background: grey;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 5px;
}
.alert-box .icon{
    height: 100px;
    width: 100px;
    color: #f23b26;
    
    /*-- circle around the icon --- */
    border: 3px solid #f23b26;
    border-radius: 50%;

    line-height: 97px; /*positioning in the center of the border*/
    font-size: 50px; /*increases the size of the icon*/
}