@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #34cddb;
}
.main-box{
    height: 550px;
    width: 440px;
    position: absolute;
    left: 50%;
    top: 52%;
    transform: translate(-50%, -50%);
    background: red;
}
.main-box .content{
    position: relative;
    height: 100%;
    width: 100%;
    background: grey;
}
.content .image-box{
    position: absolute;
    height: 450px;
    width: 100%;
    border-radius: 25px;
    background: #fff;
    padding: 10px;
    left: 0;
    bottom: 130px;
    transition: all 0.4s ease;
}
.content .image-box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
}