@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #ECF3F9;
}
nav{
    width: 100%;
    padding: 12px 0;
    background: #ECF3F9;
    box-shadow: -3px -3px 7px #fff,
                3px 3px 5px #d0d0d4;
}
nav .menu{
    max-width: 1270px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu .logo a{
    font-size: 28px;
    font-weight: 600;
    text-decoration: none;
    color: #111959;
}
.menu ul{
    list-style: none;
    display: flex;
}
.menu ul a{
    margin: 0 8px;
    text-decoration: none;
    font-size: 18px;
    color: #111959;
    font-weight: 400;
    display: inline-flex;
    padding: 10px 12px;
    box-shadow: -3px -3px 7px #fff,
                3px 3px 5px #d0d0d4;
    position: relative;
    transition: all 0.3s ease;
}
.menu ul a:hover:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: -3px -3px 7px #fff, 3px 3px 5px #7070de;
}