*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: aliceblue;
    text-align: center;
}
.icons{
    display: flex;
    margin: 40px 0;
}
.icons li{
    position: relative;
    list-style: none;
    height: 70px;
    width: 70px;
    background: aliceblue;
    margin: 0 10px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: -3px -3px 7px white,
                3px 3px 5px grey;
}
.icons li a{
    line-height: 70px;
    font-size: 27px;
    color: lightgrey;
}
.second li.shadow-2 a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 55px;
    width: 55px;
    line-height: 55px;
    border-radius: 50%;
    font-size: 24px;
    box-shadow: inset -3px -3px 7px white,
                inset 3px 3px 5px grey;
}
.first li.shadow-1{
    box-shadow: inset -3px -3px 7px white,
                inset 3px 3px 5px grey;
}
.first li.shadow-1 a{
    font-size: 25px;
}
li:nth-child(1).fill-color a{
    color: #4267B2;
}
li:nth-child(2).fill-color a{
    color: #1da1f2;
}
li:nth-child(3).fill-color a{
    color: #e1306c;
}
li:nth-child(4).fill-color a{
    color: #2867b2;
}
li:nth-child(5).fill-color a{
    color: #333;
}
li:nth-child(6).fill-color a{
    color: #4267B2;
}
