body{
    margin: 0;
    padding: 0;
    background: teal;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.slider{
    background: url(1.jpg);
    background-size: cover;
    height: 450px;
    width: 800px;
    box-shadow: 0px 5px 8px darkgrey;
    animation: animate 20s infinite;
}
@keyframes animate {
    20%{
        background: url(2.jpg);
        background-size: cover;
    }
    40%{
        background: url(3.jpg);
        background-size: cover;
    }
    60%{
        background: url(4.jpg);
        background-size: cover;
    }
    0%{
        background: url(5.jpg);
        background-size: cover;
    }
}