@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html, body{
    height: 100%;
    display: grid;
    place-items: center;
    background: palevioletred;
}
.wrapper{
    display: flex;
    height: 300px;
    width: 600px;
    align-items: center;
    justify-content: center;
}
.wrapper .right{
    background: #fff;
    height: 100%;
    width: 50%;
    text-align: center;
    border-radius: 5px 0 0 5px;
} 
.wrapper .right .logo{
    font-size: 30px;
    font-weight: bold;
    margin-top: 18px;
}
.right .stars{
    font-size: 18px;
    color: palevioletred;
    margin-top: 8px;
}
.right .about p{
    color: grey;
    font-size: 17px;
}
.right button{
    background: rgb(233, 3, 118);
    outline: none;
    border: none;
    padding: 10px 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-top: 6px;
    cursor: pointer;
    transition: all 0.3s linear;
}
.right h1{
    font-weight: 500;
    font-size: 18px;
    color: white;
    margin-left: 12px;
}
button:hover{
    transform: scale(0.9);
}
.left{
    background: url('iPhone_16.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 50%;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}