@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    background: deepskyblue;
}
.wrapper{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: white;
    max-width: 400px;
    width: 100%;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
}